:root {
    --footerColor: rgba(10, 10, 10, 0.9);
    --footerTextColor: rgba(235, 236, 237, 0.9);
}
.foot {
    background-color: var(--footerColor);
    display: flex;
    align-items: center;
    justify-content: right;
}
.foot a, p {
    color: var(--footerTextColor);
    display: block;
    padding: 0.5% 0px;
}
.foot img {
    max-width: 23px;
    padding-right: 4px;
    padding-top: 2px;
}