* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
main {
    flex-grow: 1;
}
main h1, h3 {
    padding: 20px;
    text-align:justify;
}
#page {
    display: grid;
    grid-template-columns: 25% 75%;
}
#menu {
    border: 2px solid #000;
    background-color: aliceblue;
}
#menu ul {
    list-style: none;
}
#menu li {
    color:burlywood;
    padding-bottom: 10px;
    padding-left: 7px;
}
#menu li:hover {
    text-decoration: underline;
}
#menu h2 {
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
#content {
    padding: 0 25px 0 20px;
    overflow-y: scroll;
    height: 86vh;
}
#content h3 {
    text-align: center;
}
#content p {
    text-align: justify;
    text-indent: 8%;
    color: #000;
    font-style: italic;
    font-size: 90%;
}

#reforms {
    display: flex;
    text-align: center;
    background-color: azure;
    height: 25px;
    gap: 2px;
}
#reforms div {
    min-width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#reforms div:hover {
    background-color: aquamarine;
}
.js-hover {
    background-color: aquamarine;
}