*{
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
#menu {
    height: 100%;
    text-align: center;
    border: 2px solid blanchedalmond; 
    max-height: 84vh;
    overflow-y: scroll;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(90,90,90);
    padding: 10px;
}
#menu ul {
    color: black;
    padding: 10px;
    list-style: none;
    text-align: left;
}
#menu li:hover {
    text-decoration: underline;
}
#menu li {
    padding: 15px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-indent: 50px;
    text-align: justify;
    color: black !important;
}
#content {
    max-height: 84vh;
    overflow-y: scroll;
}
#content h1 {
    text-align: center;
}
#content h3 {
    text-align: center;
    font-size: 22px;
}
#content p {
    font-style: italic;
}
#page {
    display: grid;
    grid-template-columns: 25% 75%;
    
}
#reforms {
    display: flex;
}
#reforms div{
    padding: 10px;

}
#reforms div:hover{
    color: antiquewhite;
}

