* {
    margin: 0;
    padding: 0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 2,
  'opsz' 240
}
html {
    height: 100%;
}
:root {
    --mainColor1:         rgba(235, 235, 235, 0.8);
    --btnColor:           rgba(190, 190, 190, 0.9);
    --btnBorderColor:     rgba(20, 20, 20, 0.9);
    --btnColorHover:      rgba(120, 120, 120, 0.9);
    --btnBorderColorHover:rgba(70, 70, 70, 0.9);
    --btnDivTextColor:    rgba(190, 190, 190, 0.9);
    --imgPlaceColor1:     rgba(160, 160, 160, 0.8);
    --imgPlaceColor2:     rgba(190, 190, 190, 0.8);
    --imgTextColor1:      rgba(60, 60, 60, 0.9);

    /*   */
    --brownColor: rgb(180, 169, 119);
    --redColor: rgb(158, 61, 65);
    --blueColor: rgb(25, 49, 66);
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
}
/* Main */
main {
    flex-grow: 1;
    background-color: var(--mainColor1);
}
main .content {
    height: 100%;
    display: grid;
    grid-template-rows: 80% 20%;
}
.none {
    display: none !important;
}
.page {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-auto-flow: column;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
}
.page .left-div, .right-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: var(--btnDivTextColor);
    user-select: none;
}
.page button {
    min-width:  70px;
    min-height: 70px;
    background-color: var(--btnColor);
    border: 3px solid var(--btnBorderColor);
    border-radius: 10%;
}
.page button:hover {
    background-color: var(--btnColorHover);
    border-color: var(--btnBorderColorHover);
    color: #EEE;
}
.page .left-div:hover, .right-div:hover {
    color: var(--imgTextColor1);
}
.mainImg {
    width: 75%;
    height: 70%;
    border-radius: 1%;
    border: 2px solid #999;
    background: linear-gradient(var(--imgPlaceColor1), var(--imgPlaceColor2));
    color: var(--imgTextColor1);
    padding: 15px;
    font-family: 'Roboto', sans-serif;
}
.mainImg p {
    font-size: 18px;
    text-align: justify;
}
.mainImg h3 {
    font-size: 23px;
    margin-bottom: 2px;
}
#XVII #Soborn,  #Mestnichestvo, #PeterI, #EkaterinaII, #course, #AlexandrI,
#AlexanderII, #pravo, #NikolayII, #Stolypin
{
    display: flex;
}
#Soborn img{
    width: 18%;
}
#Soborn {
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--brownColor);
}
#Mestnichestvo {
    width: 75%;
    background-color: var(--blueColor);
}
#Soborn p, #Mestnichestvo p, #PeterI p, #EkaterinaII p, #course p, #AlexandrI p,
#AlexanderII p, #pravo p, #NikolayII p, #Stolypin p
{
    padding: 10px;
}
#PeterI img, #EkaterinaII img, #AlexanderII img,
#NikolayII img
{
    width: 15%;
}
#PeterI, #pravo {
    background-color: var(--blueColor);
    width: 95%;
}
#EkaterinaII, #NikolayII {
    background-color: var(--redColor);
    width: 100%;
}
#course {
    background-color: var(--brownColor);
}
#course img {
    width: 25%;
    height: 25%;
    
}
#AlexandrI {
    background-color: var(--redColor);
    width: 95%;
    
}
#AlexandrI img {
    width: 12%;
}
#AlexanderII {
    background-color: var(--brownColor);
}
#pravo img {
    width: 20%;
}
#Stolypin img {
    width: 17%;
    height: 15%;
}
#Stolypin {
    width: 100%;
    background-color: var(--blueColor);
}
/*   */
.timeline {
    display: flex;
    overflow: auto;
    justify-content: space-between;
}
.timeline .time {
    border: #CCC solid 1px;
    flex: 0.44;
}
.persons {
    height: 60%;
    background-color:#EEE;
}
.dates {
    height: 40%;
}
.justLine {
    margin: 5px 0px;
    height: 1px;
    width: 100%;
    background-color: black;
}
.topic {
    text-align: center;
}
.line {
    width: 100%;
    height: 1px;
    background-color: dimgray;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.notLine {
    height: 10px;
    width: 1px;
    background-color: dimgray;
}
.likeLine {
    display: flex;
}
.year {
    text-align: right;
    display: flex;
}
.year p {
    color: black;
}
.likeLine  .line {
    max-width: calc(99% / 3);
}
.curYear {
    min-width: calc(100% / 3);
    user-select: none;
}